@using Robolife_Admin_Data_Layer
@model List<Image>
@{
    ViewBag.Title = "ImageList";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="page-header">
    <h1>
        Data Tables ><small>
            Image Table


        </small>
    </h1>

</div>
<div class="col-md-12" align="center">


    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal6">
        Image Manage
    </button>
    <h3 style="color:red">

        @TempData["ImageDeleteException"]
        @TempData["ImageAddUpdateException"]
        @TempData["DeleteSuccess"]
        @TempData["AdditionSuccess"]
        @{
            TempData["ImageDeleteException"] = "";
            TempData["ImageAddUpdateException"] = "";
            TempData["DeleteSuccess"] = "";
            TempData["AdditionSuccess"] = "";
        }


    </h3>
</div>
<div class="modal modal-success fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-body" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-14">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Image Management</h3>
                        </div>
                        @using (Html.BeginForm("ImageAddUpdate", "Image", FormMethod.Post))
                        {

                            <div class="panel-body">

                                <form class="form-horizontal">
                                   
                                    <div class="form-group">
                                        <label for="inputImageName" class="col-sm-3 control-label pull-left">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="imageName" class="form-control" id="imageName" placeholder="Image Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputShortPath" class="col-sm-3 control-label pull-left">Small Path</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="shortPath" class="form-control" id="shortPath" placeholder="Short Path">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMediumPath" class="col-sm-3 control-label pull-left">Medium Path</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="mediumPath" class="form-control" id="mediumPath" placeholder="Medium Path">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLongPath" class="col-sm-3 control-label pull-left">Large Path</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="longPath" class="form-control" id="longPath" placeholder="Large Path">
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <div class="checkbox checkbox-primary">
                                                <input id="checkbox1" class="styled" type="checkbox" checked>
                                                <label for="checkbox1">I agree to the terms</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" name="addButton" class="btn btn-success">Add</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap">
    <!--START: Content Wrap-->

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                    <div class="tools">
                        <a class="btn-link collapses panel-collapse" href="javascript:;"></a>
                        <a class="btn-link reload" href="javascript:;"><i class="ti-reload"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-dataTable col-md-12">
                        <thead>
                            <tr>
                                <th  class="col-md-1">Name</th>
                                <th  class="col-md-1">Image</th>
                                <th  class="col-md-3">Small Path</th>
                                <th  class="col-md-3">Medium Path</th>
                                <th  class="col-md-3">Large Path</th>
                                <th  class="col-md-1">Update</th>
                                <th  class="col-md-1">Delete</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="col-md-1">Name</th>
                                <th class="col-md-1">Image</th>
                                <th class="col-md-3">Small Path</th>
                                <th class="col-md-3">Medium Path</th>
                                <th class="col-md-3">Large Path</th>
                                <th class="col-md-1">Update</th>
                                <th class="col-md-1">Delete</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (Image item in Model)
                            {

                                <tr>
                                    <td class="col-md-1">@item.Name</td>
                                    <td class="col-md-1"><img class="col-md-offset-1" style="width:100px;height:100px;" src="@item.ShortPath" /></td>
                                    <td class="col-md-3">@item.ShortPath</td>
                                    <td class="col-md-3">@item.MiddlePath.Substring(0, 20) [...]</td>
                                    <td class="col-md-3">@item.LongPath.Substring(0, 20) [...]</td>
                                    <td class="col-md-1" ><button type="button" class="btn btn-success btn-lg col-md-offset-1">Update</button></td>
                                    <td class="col-md-1" >


                                        @Html.ActionLink("       Delete       ", "ImageDelete", "Image", new { @imageID = item.ID }, new { @class = "btn btn-danger btn-lg col-md-offset-1" })
                                        @*<button type="button" class="btn btn-danger btn-lg">Delete</button>*@

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>

